
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495901442186'); /* IE9*/
  src: url('iconfont.eot?t=1495901442186#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495901442186') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495901442186') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495901442186#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yifu:before { content: "\e635"; }

.icon-zuidahua:before { content: "\e65c"; }

.icon-fanhui:before { content: "\f0343"; }

.icon-gengduo:before { content: "\f0344"; }

.icon-rili:before { content: "\f0345"; }

.icon-rili1:before { content: "\f0346"; }

.icon-zuixiaohua:before { content: "\e618"; }

